{
  "presets":  ["@vue/babel-preset-jsx",["@babel/preset-env", { "useBuiltIns": "usage","corejs": 3 }]],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-jsx", 
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-object-rest-spread",
      { "loose": true, "useBuiltIns": true }
    ],
    "dynamic-import-webpack"
  ]
}
