@charset "UTF-8";
@import "commonStyle/common";
@import "mixins/mixins";
@import "./commonStyle/ie";

@if $lte11 {
  @include partial;
}

.formList.el-form {
  > .el-row {
    padding: 10px;
    box-sizing: border-box;

    &.existBtn:first-child {
      height: calc(100% - 50px);
      overflow-y: auto;
      overflow-x: hidden;
    }

    &.formBtn {
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid $base-line-color;
      box-sizing: border-box;
    }

    .el-form-item__blank .el-form-item__label-wrap {
      font-weight: bolder;
    }

    .el-form-item__label {
      font-size: 12px;
    }

    .el-form-item__content {
      font-size: 12px;
      .view {
        line-height: 32px;
        padding-top: 0.5px;
        height: 40px;
        padding-bottom: 0.5px;
      }
    }

    .el-form-item--medium .el-form-item__content .view {
      height: 36px;
    }
    .el-form-item--small .el-form-item__content .view {
      height: 32px;
    }
    .el-form-item--mini .el-form-item__content .view {
      height: 28px;
    }

    /**密级附件校验信息位置 */
    .el-form-item.el-form-item__upload {
      .el-form-item__content {
        .el-form-item__error {
          left: 62.5%;
        }
      }
    }
  }
}

.el-radio__input.is-disabled.is-checked {
  .el-radio__inner {
    background-color: #80bdff;
    border-color: #80bdff;

    &::after {
      background-color: #ffffff;
    }
  }
}

.el-checkbox__input.is-disabled.is-checked {
  .el-checkbox__inner {
    background-color: #80bdff;
    border-color: #80bdff;

    &::after {
      border-color: #ffffff;
    }
  }
}
